*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    flex-direction: column;
    min-height: 100vh;
    /* ?? I'd like to use the font family Roboto. I downlaoded it to my computer but can;t get Vscode to recognie it. */
}

main {
    flex: 1;
}

/* Header Section ------------*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 10px;
    gap: 900px;
    
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 40px;
    padding: 10px;
    font-size: 18px;
    color:#e5e7eb;
}


/* Main -------------- */



/* Hero Section ------------------- */

.hero {
    display: flex;
    background-color: #1f2937;
    color:#f9faf8;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 10px;
}

.hero-left {
    width: 600px;
    line-height: 2;
}

.hero img {
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 3px;
}

.hero-left button {
    margin-top: 20px;
}

/* Projects Section ---------- */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* ?? ^^^^I want to apply an even gap between cards, why doesn't the gap funciton work here? */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
}

.card img {
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-color: #3882f6;
    border-width: 1px;
    border-style: solid;
}

.card img:hover {

}

.projects p {
    text-align: center;
    padding: 20px 30px;
    color: #1f2937;
}

.project-header {
    text-align: center;
    padding-top:  80px;
}

.card:hover {
    background-color:#3882f6; opacity: .9;
}


/* About Section ------------------ */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 300px;
    gap: 150px;
    width:fit-content;
}

.about p {

    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.about img {
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 3px;
}


/* CTA Section ---------------- */

.CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;

}

/* ?? struggling with cta button and container positioning. i want the text inside blue container to wrap, but seems like button is being squished.  */

.CTA-container {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    max-width: 1500px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px 100px 40px 100px;
}

.CTA-left {
    display: flex;
    flex-flow: wrap;
    line-height: 3;
}

.CTA-left h3, p {
    color: #f9faf8;
}

.CTA-container button {
    border-color: #f9faf8;
    margin-left: 200px;
    border-color: #f9faf8;
    border-width: 2px;
}

/* footer ----------- */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;

}

/* General style and fonts CSS */

h1 {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 10px;
    color: #f9faf8;
    border-radius: 5px;
    font-size: 24px;  
}

button:hover {
    background-color: #1f2937;
